* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

::selection {
background-color: rgba(0, 0, 0, 0.2);
color: aqua;
text-shadow: 0px 0px 8px aqua;         
}

span, div {
cursor: default;    
}

.boss {
width: 100%;
min-height: 100dvh;
height: auto;
}

.header {
width: 100%;
height: 180px;
}

.top_header {
width: 100%;
height: 50px;
background-color: #F5F5F7;
display: flex;    
}

.top_header_right {
width: 15%;
height: 50px;
display: flex;
justify-content: end;
}

.social_logos_div {
width: 50%;
height: 50px;
display: flex;
justify-content: space-between;
align-items: center;    
}

.social_logo {
width: 20%;
height: 30px;
transition: 0.3s;    
}

.social_logo:hover {
transform: scale(1.1, 1.1);    
}

.svg_logos {
transition: 0.3s;    
}

.svg_logos:hover {
fill: blue;    
}

.top_header_middle {
width: 50%;
height: 50px;
display: flex;
align-items: center;    
}

.search_div {
width: 35%;
height: 45px;
display: flex;
justify-content: center;
}

.search_input {
width: 90%;
height: 45px;
border-radius: 20px;
padding-left: 5%;
font-size: 15px;
background: #c0c0c03c;
border: none;
caret-color: rgba(0, 0, 0, 0.4);   
}

.search_input:focus {
outline: none;    
}

.search_input::placeholder {
color: #A2A2A2;    
}

.top_header_left {
width: 35%;
height: 50px;
display: flex; 
align-items: center;   
}

.nav {
width: 50%;
height: 30px;
border: none;
border-right: 1px solid black;
display: flex;
justify-content: center;
align-items: center;
gap: 5%;    
}

.a_hrefs {
text-decoration: none;
color: black;
font-size:  16px;
transition: 0.5s;
background-image: linear-gradient(black, black);
background-position: 0% 100%;
background-repeat: no-repeat;
background-size: 0% 2px;
}

.a_hrefs:hover {
background-size: 100% 2px;
}

.language_div {
width: 20%;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
gap: 5%;    
}

.flag_div {
width: 30%;
height: 30px;
}

.middle_header {
width: 100%;
height: 90px;
background-color: white;
display: flex;   
}

.right_div {
width: 30%;
height: 90px;
display: flex;
justify-content: center;
align-items: center;    
}

.logo_div {
width: 40%;
height: 80px;
transition: 0.4s;
}

.logo_div:hover {
transform: translateX(10px);    
}

.middle_div {
width: 40%;
height: 90px;
display: flex;
justify-content: center;
align-items: center;    
}

.middle_ul {
display: flex;
list-style-type: none; 
font-size: 22px;
gap: 20px;   
}

.left_div {
width: 25%;
height: 90px;
display: flex;
align-items: center;
justify-content: end;    
}

.small_icons_div {
width: 35%;
height: 30px;
display: flex;
justify-content: space-between;    
}

.icon1 {
width: 25%;
height: 26px;
border-radius: 10px 10px 10px 10px;
transition: 0.3s;
}

.icon1:hover {
transform: scale(1.1, 1.1);    
}

.bottom_header {
width: 100%;
height: 40px;
background-color: #F5F5F7;
display: flex;
justify-content: center;
align-items: center;
}

.bottom_header_ul {
list-style-type: none;
display: flex;
font-size: 19px;
gap: 40px;    
}

.hover_hrefs {
text-decoration: none;
color: black;
background-image: linear-gradient(black, black);
background-position: 0% 100%;
background-repeat: no-repeat;
background-size: 0% 2px;
transition: 0.5s;    
}

.hover_hrefs:hover {
background-size: 100% 2px;
}

.main1 {
width: 100%;
height: 800px;
background-image: url(./images/wine_cellar.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.main2 {
width: 100%;
height: auto;
background-color: white;    
}

.about_texts_div {
width: 100%;
height: 300px;
display: flex;
justify-content: center;
align-items: end;
}

.about_texts {
width: 90%;
height: 90px;
display: flex;
justify-content: space-between;
align-items: end;    
}

.info_div {
font-size: 250%;    
}

.see_all_href {
text-decoration: none;
color: black;
font-size: 150%;
background-image: linear-gradient(black, black);
background-position: 0% 100%;
background-repeat: no-repeat;
background-size: 0% 2px;
transition: 0.4s;    
}

.see_all_href:hover {
transform: translateX(10px);
background-size: 100% 2px;
}

.cards_row1 {
width: 100%;
height: 500px;
display: flex;
justify-content: space-around;    
}

.card1 {
width: 15%;
height: 500px;
border-radius: 20px;
display: flex;
flex-direction: column;
align-items: center;
transition: 0.3s;
position: relative;
}

.card1:hover {
transform: scale(1.01) translateX(-10px);
box-shadow: 10px 10px 30px black;    
}

.heart_card_div {
width: 12%;
height: 12%;
position: absolute;
right: 10px;    
}

.heart_anim {
transition: 0.3s;    
}

.heart_anim:hover {
fill: red;    
}

.card_image_div {
width: 100%;
height: 60%;
display: flex;
justify-content: center;
}


.card_image {
width: 100%;
height: 100%;    
}

.wine_card_info_div {
width: 100%;
height: 50%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;    
}

.color_wine {
width: 40%;
height: 20px;
font-size: 20px;    
}

.link_card {
text-decoration: none;
color: black;
font-size: 20px;
background-image: linear-gradient(black, black);
background-position: 0% 100%;
background-repeat: no-repeat;
background-size: 0% 1px;
transition: 0.3s;
}

.link_card:hover {
background-size: 100% 2px;
}

.about_card_price {
width: 60%;
height: 50px;
}

.new_old_price_div {
width: 100%;
height: 50%;
display: flex;
justify-content: space-around;  
}

.price {
font-size: 24px;    
}

.old_price {
font-size: 15px;
text-decoration: line-through;    
}

.price_1l_div {
width: 100%;
height: 50%;
border-top: 1px solid gray;
display: flex;
justify-content: center;    
}

.price_1l {
font-size: 20px;
}

.add_to_cart_btn {
width: 50%;
height: 50px;
background-color: white;
border-color: black;
border-radius: 7px;
font-size: 15px;
transition: 0.3s;
}

.add_to_cart_btn:hover {
background-color: rgb(87, 82, 82);
color: white;
transform: scale(1.1, 1.1);    
}

.about_texts_div2 {
width: 100%;
height: 100px;
display: flex;
justify-content: center;
align-items: end;
}

.cards_row2 {
width: 100%;
height: 500px;
display: flex;
justify-content: space-around;    
}

.main3 {
width: 100%;
height: 850px;
background-color: white;
display: flex;
justify-content: center;
align-items: center;    
}

.news_div {
width: 90%;
height: 700px;
}

.news_texts {
width: 100%;
height: 20%;
display: flex;
flex-direction: column;
gap: 20px;    
}

.keep_text_div {
width: 100%;
height: 16%;
}

.keep_text {
font-size: 1.4rem;    
}

.all_news {
width: 100%;
height: 80%;
display: flex;
}

.first_news_big {
width: 35%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;    
}

.first_news {
width: 90%;
height: 90%;
border-radius: 20px;
background-image: url(./images/news_1.webp);
background-repeat: no-repeat;
background-size: cover;
transition: 0.3s;
}

.news_hrefs {
text-decoration: none;
color: white;    
}

.first_news:hover {
transform: scale(1.03);    
}

.gradient_div {
width: 100%;
height: 100%;
border-radius: 20px;
padding-bottom: 5%;
padding-left: 5%;
background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.40) 100%);
display: flex;
flex-direction: column;
justify-content: end;
gap: 15px;
}

.gradient_div:hover {
background: linear-gradient(190deg, #000000 0%, rgba(0, 0, 0, 0.073) 90%);
}

.news_title {
font-size: 2rem;
}

.about_title {
font-size: 1.1rem;    
}

.news_columns {
width: 65%;
height: 100%;
}

.news_column1 {
width: 100%;
height: 50%;
display: flex;
justify-content: space-evenly;
align-items: center;    
}

.second_news {
width: 45%;
height: 90%;
border-radius: 20px;
background-image: url(./images/news_2.webp);
background-repeat: no-repeat;
background-size: cover;
transition: 0.3s;    
}

.second_news:hover {
transform: scale(1.03);    
}

.third_news {
width: 45%;
height: 90%;
border-radius: 20px;
background-image: url(./images/news_3.webp);
background-repeat: no-repeat;
background-size: cover;
transition: 0.3s;    
}

.third_news:hover {
transform: scale(1.03);    
}

.news_column2 {
width: 100%;
height: 50%;
display: flex;
justify-content: space-evenly;
align-items: center;   
}

.fourth_news {
width: 45%;
height: 90%;
border-radius: 20px;
background-image: url(./images/news_4.webp);
background-repeat: no-repeat;
background-size: cover;
transition: 0.3s;    
}

.fourth_news:hover {
transform: scale(1.03);    
}

.fifth_news {
width: 45%;
height: 90%;
border-radius: 20px;
background-image: url(./images/news_5.webp);
background-repeat: no-repeat;
background-size: cover;
transition: 0.3s;    
}

.fifth_news:hover {
transform: scale(1.03);    
}

.main4 {
width: 100%;
height: 850px;
background-color: white;
display: flex;
justify-content: center;
align-items: center;    
}

.blogs_div {
width: 90%;
height: 650px;
}

.blogs_texts {
width: 100%;
height: 20%;
display: flex;
flex-direction: column;
gap: 10px;
}

.blog_news_div {
font-size: 250%;
transition: 0.3s;    
}

.blog_news_div:hover {
transform: translateX(15px);    
}

.blog_href {
text-decoration: none;
color: black;
transition: 0.3s;    
}

.blog_href:hover {
color: blue;   
}

.blog_card_big_div {
width: 100%;
height: 80%;
display: flex;
justify-content: space-between;   
}

.blog_cards {
width: 20%;
height: 100%;
border-radius: 10px;
transition: 0.3s;   
}

.blog_cards:hover {
transform: translateX(-15px);
box-shadow: 10px 10px 20px black;    
}

.blog_card_image_div {
width: 100%;
height: 40%;
border-radius: 10px;
background-image: url(./images/blog_1.webp);
background-repeat: no-repeat;
background-size: cover;    
}

.blog_card_image_div2 {
width: 100%;
height: 40%;
border-radius: 10px;
background-image: url(./images/blog_2.webp);
background-repeat: no-repeat;
background-size: cover;    
}

.blog_card_image_div3 {
width: 100%;
height: 40%;
border-radius: 10px;
background-image: url(./images/blog_3.webp);
background-repeat: no-repeat;
background-size: cover;    
}

.blog_card_image_div4 {
width: 100%;
height: 40%;
border-radius: 10px;
background-image: url(./images/blog_4.webp);
background-repeat: no-repeat;
background-size: cover;    
}

.gradient_div_2 {
width: 100%;
height: 100%;
background-color: transparent;
border-radius: 10px;
transition: 0.3s;    
}

.gradient_div_2:hover {
background-color: rgba(0, 0, 0, 0.359);    
}

.blog_card_date_div {
font-size: 1.2rem;
color: rgba(0, 0, 0, 0.4);    
}

.blog_card_main_name_href {
text-decoration: none;
color: black;
font-size: 1.4rem;
transition: 0.3s;
}

.blog_card_main_name_href:hover {
text-decoration: underline;
color: rgb(92, 92, 92);    
}

.blog_card_about_div {
width: 100%;
height: 60%;
display: flex;
flex-direction: column;
justify-content: space-around;    
}

.blog_card_category {
width: 40%;
height: 10%;
border: 1px solid gray;
border-radius: 3px;
display: flex;
justify-content: center;
align-items: center;    
}

.blog_card_info_text {
font-size: 1.2em;    
}

.read_more_blogs_href {
text-decoration: none;
color: black;
font-size: 1.2rem;
transition: 0.3s;    
}

.read_more_blogs_href:hover {
transform: translateX(10px);
color: blue;
}

.bottom_header_bottom {
width: 100%;
height: 40px;
background-color: #F5F5F7;
display: flex;
justify-content: center;
align-items: center;
}

.bottom_header_ul_bottom {
list-style-type: none;
display: flex;
font-size: 1.2rem;
gap: 40px;    
}

.footer {
width: 100%;
height: 900px;
}

.top_footer_bg {
width: 100%;
height: 60%;
background-color: rgba(0, 0, 0, 0.8);    
}

.top_footer {
width: 100%;
height: 100%;
background-image: url(./images/footer_bg.png);
background-repeat: no-repeat;
background-size: cover;
display: flex;
}

.footer_logo_div_big {
height: 100%;    
width: 30%;
display: flex;
justify-content: center;
align-items: center;
}

.footer_logo_div {
width: 50%;
height: 30%;
transition: 0.3s;    
}

.footer_logo_div:hover {
transform: scale(1.04) translateX(10px);    
}

.top_footer_middle {
width: 45%;
height: 100%;
}

.top_footer_middle_top {
width: 100%;
height: 70%;
display: flex;    
}

.footer_nav_div {
width: 25%;
height: 60%;
display: flex;
justify-content: center;
align-items: center;
}

.footer_ul {
list-style-type: none;
display: flex;
flex-direction: column;
gap: 10px;
}

.bottom_hover_hrefs {
text-decoration: none;
color: white;
font-size: 1.2rem;
background-image: linear-gradient(white, white);
background-position: 0% 100%;
background-repeat: no-repeat;
background-size: 0% 2px;
transition: 0.3s;    
}

.bottom_hover_hrefs:hover {
background-size: 100% 2px;    
}

.subscribe_div {
width: 50%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
gap: 20px;
}

.subscribe_text {
width: 100%;
height: 10%;
color: white;
font-size: 1.2em;    
}

.checkbox_div {
width: 100%;
height: 10%;
}

/* .checkbox {
width: 40%;
height: 40%;    
} */

.privacy_href {
text-decoration: none;
color: white;
transition: 0.3s;
}

.privacy_href:hover {
text-decoration: underline;
color: rgb(187, 187, 187);    
}

.email_div_big {
width: 100%;
height: 30%;
display: flex;
justify-content: center;
align-items: center;   
}

.email_div {
width: 90%;
height: 50%;
display: flex;
position: relative;    
}

.form {
width: 100%;
height: 100%;
display: flex;    
}

.email_input {
width: 100%;
height: 100%;
color: white;
padding-left: 4%;
background-color: transparent;
border-color: white;
font-size: 1rem;
outline: none;
}

.email_input::placeholder {
color: white;    
}

.arrow_input_div {
width: 18%;
height: 100%;
background-color: white;
border: 1px solid white;
font-size: 1.1rem;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
right: 0; 
transition: 0.3s;   
}

.arrow_input_div:hover {
background-color: rgba(0, 0, 0, 0.31);
color: white;
}

.disclaimer_text {
width: 100%;
height: 30%;
color: white;
display: flex;
justify-content: center;
align-items: center;    
}

.top_footer_right {
width: 25%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
}

.follow_us_text {
width: 20%;
height: 5%;
font-size: 1.2rem;
color: white;
display: flex;
justify-content: center;   
}

.footer_soical_div {
width: 50%;
height: 8%;
display: flex;
}

.social_link {
width: 100%;
height: 100%;
}

.footer_social {
width: 55%;
height: 100%;
border-radius: 50%;
background-color: #2E2E31;
display: flex;
justify-content: center;
align-items: center;
transition: 0.3s;    
}

.footer_social:hover {
background-color: white;    
}

.tel_and_etc {
width: 50%;
height: 20%;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;    
}

.copyright_div {
width: 50%;
height: 30%;
border-top: 2px solid white;
color: white;
font-size: 1.1rem;
display: flex;
flex-direction: column;
justify-content: center;
}

.vwfa_href {
text-decoration: none;
color: white;
transition: 0.3s;
}

.vwfa_href:hover {
text-decoration: underline;
color: rgb(187, 187, 187);    
}

.dev_div {
width: 60%;
height: 10%;
color: white;
font-size: 1.1rem;
}

.studio_one_href {
text-decoration: none;
color: white;
transition: 0.3s;    
}

.studio_one_href:hover {
color: rgb(187, 187, 187);    
}

.middle_footer {
width: 100%;
height: 15%;
background-color: white;
display: flex;    
}

.middle_footer_left {
width: 50%;
height: 100%;
display: flex;
align-items: center;
justify-content: end;
gap: 5px;
}

.payment_text_div {
width: 16%;
height: 20%;
font-size: 1.1rem;
display: flex;
justify-content: center;
align-items: center;    
}

.payment_photo_div1 {
width: 15%;
height: 50%;
background-image: url(./images/paypal.webp);
background-repeat: no-repeat;
background-size: contain;   
}

.payment_photo_div2 {
width: 15%;
height: 50%;
background-image: url(./images/visa.webp);
background-repeat: no-repeat;
background-size: contain;   
}

.payment_photo_div3 {
width: 15%;
height: 50%;
background-image: url(./images/maestro.webp);
background-repeat: no-repeat;
background-size: contain;   
}

.payment_photo_div4 {
width: 15%;
height: 50%;
background-image: url(./images/mastercard.webp);
background-repeat: no-repeat;
background-size: contain;   
}

.payment_photo_div5 {
width: 15%;
height: 50%;
background-image: url(./images/prepayment.webp);
background-repeat: no-repeat;
background-size: contain;   
}

.middle_footer_right {
width: 50%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.payment_photo_div6 {
width: 15%;
height: 50%;
background-image: url(./images/ups.webp);
background-repeat: no-repeat;
background-size: contain;   
}

.payment_photo_div7 {
width: 15%;
height: 50%;
background-image: url(./images/dhl.webp);
background-repeat: no-repeat;
background-size: contain;   
}

.payment_photo_div8 {
width: 15%;
height: 50%;
background-image: url(./images/dpd.webp);
background-repeat: no-repeat;
background-size: contain;   
}


.inner_footer {
width: 100%;
height: 2%;
border: 1px solid gray;
background-color: white;    
}

.bottom_footer {
width: 100%;
height: 23%;
background-color: white;
display: flex;
}

.bottom_footer_left {
width: 50%;
height: 100%;
display: flex;
align-items: center;
justify-content: end;
gap: 10px;
}

.wwf_photo_div {
width: 7%;
height: 40%;
transition: 0.3s;    
}

.wwf_photo_div:hover {
transform: scale(1.05);    
}

.wwf_photo {
width: 100%;
height: 100%;    
}

.wwf_info {
width: 70%;
height: 70%;
}

.bottom_footer_right {
width: 50%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}

.photos_div {
width: 15%;
height: 80%;
display: flex;
flex-direction: column;
justify-content: space-between;    
}

.giz_photo {
width: 100%;
height: 100%;
transition: 0.3s;
}

.giz_photo:hover {
transform: scale(1.05);    
}

.acba_photo {
width: 100%;
height: 100%;
transition: 0.3s;
}

.acba_photo:hover {
transform: scale(1.05);    
}

.giz_acba_info {
width: 60%;
height: 80%;
}
